<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(pageTitle, content)">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title th:text="${pageTitle}">Company Portal</title>

  <link rel="stylesheet" th:href="@{/css/company.css}" />
</head>

<body>
  <div class="app">

    <div th:replace="company/layout/sidebar :: sidebar"></div>

    <div class="main">
      <div th:replace="company/layout/topbar :: topbar"></div>

      <div class="content" th:replace="${content}"></div>
    </div>

  </div>
</body>
</html>